h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
h2{
    font-family: 'Poppins', sans-serif;
}
.color{
    color: gold;
}
p{
    font-weight: 700;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
}
.flex{
    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.margin{
    margin: 0%;
}
.padding{
    width: 50%;
    padding-left: 5%;
}
.padding img{
    width: 80%;
    padding-left: 50px;
    padding-top: 80px;
    padding-right: 30px;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 8px; 
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
}

.hadith{
    display: flex;padding-top: 7%;
    background-position: right;
    background-repeat: no-repeat;
    background-image:url(./dream-bg.png)
}
.small{
    width: 100%;
}
.pdng{
    padding-right: 60px;
    padding-left: 30px;
}
