h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
h2{
    font-family: 'Poppins', sans-serif;
}
.color{
    color: gold;
}
.clr{
    color: red;
}
p{
    font-weight: 700;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
}
.flex{
    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
.margin{
    margin: 0%;
}
.padding{
    width: 50%;
    padding-left: 5%;
}
.padding img{
    width: 80%;
    padding-left: 50px;
    padding-top: 80px;
    padding-right: 30px;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 8px; 
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
}
.hadith{
    display: flex;padding-top: 7%;
    background-position: right;
    background-repeat: no-repeat;
    background-image:url(./dream-bg.png)
}
.small{
    width: 100%;
}
.pdng{
    padding-right: 60px;
    padding-left: 30px;
}

.new-one{
    padding-top: 90px;
    padding-bottom: 10%;
    display: flex;
    width: 90%;
    padding-left: 5%;
    background-image: url(./exp-bg.png);
    background-repeat: no-repeat;
}
.box{
    box-shadow: 10px 10px 40px gray; 
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 20px;
    width: 40%;
    border-left: 15px solid rgb(236, 179, 74);
}
footer{
    text-align: center;
}

    
    
